* {
  box-sizing: border-box;
  text-align: center;
  color: white;
}
.App {
  /* width: 100vh;
  height: 100vh; */
  background-color: lightblue;
  /* min-height: 100vh; */
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* transform-origin: 0 0; */
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}
